@import './mixins';


html {
  // positioning
  position: relative;

  // box model
  height: 100%;

  // typography
  color: rgb(var(--white));
  font-family: var(--textFont);
  font-size: 4.444444444444445vw;

  // visual
  background-color: rgb(var(--dark));
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include atTablet {
    // typography
    font-size: 2.666666666666667vw;
  }

  @include atDesktopS {
    // typography
    font-size: 1.1111111111111112vw;
  }
}

body {
  // positioning
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--green)) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  background-color: rgb(var(--dark));
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--green));
  border-radius: 10px;
  border: none;
}
