.link {
  // box model
  display: flex;
  align-items: center;
  gap: 0.25rem;

  // typography
  color: rgb(var(--white));
  font-size: 0.875rem;
  text-decoration: none;
}

.link:hover {

}

.link:active {
  
}

.icon {
  // box model
  height: 1.125rem;
}
