.fall {
  // positioning
  position: relative;

  // box model
  height: 100%;
  width: 100%;
}

.fall::before,
.fall::after {
  content: "";

  // positioning
  position: absolute;
  top: 50%;
  bottom: -4.5rem;
  left: 0;
  right: 0;
  z-index: 4;

  // box model
  display: block;
  // border: 2px solid fuchsia;

  // visual
  background-image: linear-gradient(
    to bottom,
    rgb(var(--dark), 0) 0%,
    rgb(var(--dark), 0.5) 75%,
    // rgb(var(--dark), 1) calc(100% - 9rem),
    rgb(var(--dark), 1) 100%,
  );
}

.front,
.middle,
.back {
  // positioning
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.front {
  // positioning
  z-index: 3;

  // typography
  font-size: 1.25rem;

  // visual
  filter: blur(4px);
}

.middle {
  // positioning
  z-index: 2;
}

.back {
  // positioning
  z-index: 1;

  // typography
  font-size: 0.75rem;

  // visual
  filter: blur(4px);
}
