@import './mixins';


.card {
  // box model
  flex-basis: calc(50% - 0.625rem);
  flex-grow: 10;
  height: 18.125rem;
  padding: 1.5rem;

  // border
  border: 0.125rem solid rgb(var(--white));
  border-radius: 1.5rem;

  @include atTablet {
    // box model
    flex-basis: calc(100% / 3 - 1rem);
    flex-grow: 0;
  }
}

.card:last-of-type {
  // box model
  height: auto;
}

.link {
  // box model
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  // typography
  color: rgb(var(--white));
  text-decoration: none;
}

.icon {
  // box model
  flex-basis: 1.5rem;
  flex-shrink: 0;
  height: 1.5rem;
}

.caption {
  // box model
  margin-top: 0.875rem;
}

.title {
  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

.subtitle {
  // box model
  display: -webkit-box;
  margin-top: 0.5rem;
  max-height: 6.5rem;
  -webkit-box-orient: vertical;

  // typography
  font-size: 0.75rem;
  -webkit-line-clamp: 7;

  // visual
  overflow: hidden;
}
