@import './mixins';


.card {
  // box model
  margin-top: 1.5rem;

  // border
  border: 0.125rem solid rgb(var(--white), 0.875);
  border-radius: 1.5rem;
  
  // visual
  overflow: hidden;
  transition: all 1.325s ease-out;

  @include atTablet {
    // box model
    flex-basis: calc(100% / 2 - 0.625rem);
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;
    grid-column: span 2;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(100% / 3 - 1.25rem);
    grid-column: span 1;
    aspect-ratio: 4/3;
  }
}

.card:last-child:nth-child(2n - 1) {
  // box model
  grid-column-end: 4;

  @include atDesktopS {
    // box model
    grid-column-end: auto;
  }
}

.link {
  // box model
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: space-between;
  height: 100%;
  padding: 1.5rem;


  // typography
  color: rgb(var(--white));
  text-decoration: none;

  // visual
  --initialOpacity: 1;
  opacity: var(--initialOpacity);
  transition: all 0.325s ease-out;

  @include atDesktopS {
    // box model
    justify-content: space-between;
  }
}

.icon {
  // box model
  flex-basis: 1.5rem;
  flex-shrink: 0;
  height: 1.5rem;

  // visual
  fill: rgb(var(--chineseWhite));
  transition: all 0.325s ease-out;
}

.caption {
  // box model
  margin-top: 3rem;
}

.title {
  // typography
  font-family: var(--titleFont);
  font-size: 1.125rem;
  font-weight: 500;

  @include atTablet {
    // typography
    white-space: pre-line;
  }

  @include atDesktopS {
    // typography
    font-size: 1.5rem;
  }
}

.subtitle {
  // box model
  margin-top: 0.5rem;

  // typography
  font-size: 0.75rem;

  // visual
  overflow: hidden;
}

.card:hover {
  // border
  border-color: rgb(var(--green));

  .link {
    // typography
    color: rgb(var(--dark));
    
    // visual
    background-color: rgb(var(--green), 1);
  }

  .icon {
    // visual
    fill: rgb(var(--dark));
  }
}

.isComingSoon {
  // visual
  pointer-events: none;
  
  .link {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // visual
    --initialOpacity: 0.5;
    opacity: var(--initialOpacity) !important;
  }
}
