@import './mixins';


.calculator {
  @include atDesktopS {
    // box model
    margin: 0 auto;
    padding: 2.25rem 1.5rem;
    width: var(--dWidth);

    // border
    border-radius: 1.25rem;

    // visual
    background-color: rgb(var(--white));
  }
}

.heading {
  // box model
  display: none;

  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
  }
}

.title {
  // typography
  color: rgb(var(--dark));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

.products {
  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
  }

  @include atDesktopS {
    // box model
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.75rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;

    // visual
    border-bottom: 0.0625rem solid rgb(var(--chineseWhite));
  }
}

.cart {
  // positioning
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateY(110%);

  // box model
  padding: 1.5rem;

  // border
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;

  // visual
  background-color: rgb(var(--white));
  box-shadow: 0 -0.625rem 0.625rem 0 rgb(var(--dark), 0.25);
  opacity: 0;
  pointer-events: none;
  transition: all 0.325s ease-in-out;

  @include atDesktopS {
    // positioning
    position: relative;
    transform: translateY(0);

    // box model
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 1.5rem;

    // visual
    box-shadow: none;
    opacity: 1;
    pointer-events: all;
  }
}

.priceRow {
  // box model
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}

.prices {
  // box model
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;

  // typography
  font-family: var(--titleFont);
}

.originalPrice {
  // typography
  color: rgb(var(--dark));
  text-decoration: line-through;
}

.currentPrice {
  // typography
  color: rgb(var(--green));
  font-size: 1.5rem;
  line-height: 1;

  @include atDesktopS {
    // typography
    font-size: 2.25rem;
  }
}

.perMonth {
  // box model
  display: none;

  @include atDesktopS {
    // box model
    display: inline-block;
    vertical-align: top;

    // typography
    color: rgb(var(--chineseWhite));
  }
}

.toggleWrapper {
  @include atDesktopS {
    // box model
    display: none;
  }
}

.buttonsRow {
  // box model
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  gap: 0.5rem;

  // border
  border-top: 0.0625rem dashed rgb(var(--dark));

  @include atTablet {
    // box model
    flex-direction: row-reverse;
    padding: 0;

    // border
    border-top: none;
  }
}

.buttonsRow button {
  @include atTablet {
    // box model
    flex-grow: 2;
  }
}

.isCartVisible {
  // positioning
  transform: translateY(0);

  // visual
  opacity: 1;
  pointer-events: all;
}
