.button {
  // box model
  padding: 0.75rem 1.25rem;

  // border
  border: none;
  border-radius: 1.75rem;

  // typography
  color: rgb(var(--dark));
  font-size: 0.875rem;

  // visual
  appearance: none;
  background-color: rgb(var(--green));
}
