.button {
  // box model
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;

  // border
  border: 0.125rem solid rgb(var(--green));
  border-radius: 1.75rem;

  // typography
  color: rgb(var(--dark));
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  // visual
  appearance: none;
  background-color: rgb(var(--green));
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button:hover {
  // typography
  color: rgb(var(--green));

  // visual
  background-color: rgb(var(--white));
}
