.slider {
  // box model
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.slide {
  // box model
  grid-column: 1;
  grid-row: 1;

  // visual
  opacity: 0;
  transition: all 0.25s ease-out;
}

.activeSlide {
  // visual
  opacity: 1;
}

.title {
  // typography
  color: rgb(var(--dark));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

.title::before {
  content: "/";

  // typography
  color: rgb(var(--green));
}

.text {
  // box model
  margin-top: 1rem;

  // typography
  color: rgb(var(--dark));
  font-size: 0.75rem;
}
