@import './mixins';


.item {
  // box model
  padding: 1.5rem 0;

  // border
  border-bottom: 1px solid rgb(var(--chineseWhite));
}

.item:last-of-type {
  // border
  border-bottom: none;
}

.question {
  // box model
  padding-right: 2rem;

  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;

  // visual
  cursor: pointer;
  transition: all 0.25s ease-out;

  @include atTablet {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0;
  }

  &:hover {
    // typography
    color: rgb(var(--green));
  }
}

.arrow {
  // positioning
  position: absolute;
  transform-origin: center center;
  transform: translate(0.25rem, 0.25rem);

  // box model
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;

  // visual
  background-image: url('../assets/icons/arrow.svg');
  background-size: cover;
  transition: all 0.375s ease-out;

  @include atTablet {
    // positioning
    position: relative;
    transform: translate(0, 0);

    // box model
    height: 2.25rem;
    width: 2.25rem;
    flex-basis: 2.25rem;
    flex-shrink: 0;
  }
}

.answer {
  // box model
  max-height: 0;
  margin-top: 0.75rem;

  // typography
  font-size: 0.875rem;

  // visual
  opacity: 0;
  overflow: hidden;
  transition: all 0.375s ease-out;
}

.isOpen {
  .answer {
    // box model
    max-height: 10rem;

    // visual
    opacity: 1;
  }

  .arrow {
    // positioning
    transform: translate(0.25rem, 0.25rem) rotate(-90deg);

    @include atTablet {
      // positioning
      transform: translate(0, 0) rotate(-90deg);
    }
  }
}
