.item {
  // box model
  padding: 1.5rem 0;

  // border
  border-bottom: 1px solid rgb(var(--chineseWhite));
}

.item:last-of-type {
  // border
  border-bottom: none;
}

.question {
  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

.question::before {
  content: '✽ ';
}

.answer {
  // box model
  margin-top: 0.75rem;

  // typography
  font-size: 0.875rem;
}
