@import './mixins';


.section {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;

  @include atDesktopS {
    // box model
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 0 auto;
    padding: 4.5rem 1.25rem;
    width: var(--dWidth);
    min-height: calc(100vh - 4rem);
    min-height: calc(100svh - 4rem);
  }
}

.header {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  // typography
  text-align: center;

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // align-items: flex-start;
    // flex-basis: 21rem;
    flex-basis: 40%;
    // flex-shrink: 0;

    // typography
    text-align: left;
  }
}

.content {
  // box model
  margin-top: 4.5rem;

  @include atDesktopS {
    // box model
    flex-basis: 60%;
  }
}
