@import './mixins';


.section {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;

  @include atDesktopS {
    // box model
    display: flex;
    gap: 10rem;
    margin: 0 auto;
    margin-top: 14rem;
    width: var(--dWidth);
  }
}

.header {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  // typography
  text-align: center;

  @include atDesktopS {
    // box model
    align-items: flex-start;
    flex-basis: 21rem;
    flex-shrink: 0;

    // typography
    text-align: left;
  }
}

.content {
  // box model
  margin-top: 4.5rem;
}
