@import './mixins';


.footer {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;
  padding-bottom: 3rem;
}

.info {
  @include atTablet {
    // box model
    width: 50%;
  }
}

.description {
  // box model
  margin-top: 1.5rem;

  // typography
  font-size: 0.75rem;
}

.navigation {
  // box model
  margin-top: 3rem;

  @include atTablet {
    // box model
    display: flex;
    align-items: flex-start;
  }
}

.column {
  // box model
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  @include atTablet {
    // box model
    margin-top: 0;
  }
}

.title {
  // box model
  flex-basis: 100%;

  // typography
  color: rgb(var(--green));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

ul.list {
  // box model
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1.5rem;
  margin-top: 1.5rem;

  // visual
  list-style: none;

  @include atTablet {
    // box model
    margin-top: 3rem;
  }
}

.listColumn {
  // box model
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 40%;
}

.item {

}

.link {
  // typography
  color: rgb(var(--white));
  font-size: 0.875rem;
  text-decoration: none;
}

.legalInfo {
  // box model
  display: flex;
  justify-content: space-between;
  margin-top: 2.75rem;

  // typography
  font-size: 0.75rem;
}

.copyrights {

}

.legalLinks {

}

.legalLink {
  // typography
  color: rgb(var(--white));
  text-decoration: none;
}
