@import './mixins';


.footer {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;
  padding-bottom: 3rem;

  @include atDesktopS {
    // box model
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 9rem;
    width: var(--dWidth);
  }
}

.info {
  @include atTablet {
    // box model
    width: 50%;
  }

  @include atDesktopS {
    // box model
    flex-basis: 14rem;
    width: auto;
  }
}

.description {
  // box model
  margin-top: 1.5rem;

  // typography
  font-size: 0.75rem;

  @include atDesktopS {
    // box model
    margin-top: 3.25rem;
  }
}

.navigation {
  // box model
  margin-top: 3rem;

  @include atTablet {
    // box model
    display: flex;
    align-items: flex-start;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(100% - 30rem);
    gap: 6rem;
    margin-top: 0;
  }
}

.column {
  // box model
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  @include atTablet {
    // box model
    margin-top: 0;
  }

  @include atDesktopS {
    // box model
    justify-content: space-between;
  }
}

.title {
  // box model
  flex-basis: 100%;

  // typography
  color: rgb(var(--green));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

ul.list {
  // box model
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 1.5rem;

  // visual
  list-style: none;

  @include atTablet {
    // box model
    margin-top: 3rem;
  }

  @include atDesktopS {
    // box model
    margin-right: 3rem;
  }
}

.listColumn {
  // box model
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 40%;
}

.item {

}

.link {
  // typography
  color: rgb(var(--white));
  font-size: 0.875rem;
  text-decoration: none;

  @include atTablet {
    // box model
    white-space: nowrap;
  }

  &:hover {
    // typography
    color: rgb(var(--green));
    text-decoration: underline;
  }
}

.legalInfo {
  // box model
  display: flex;
  justify-content: space-between;
  margin-top: 2.75rem;

  // typography
  font-size: 0.75rem;

  @include atDesktopS {
    // box model
    flex-basis: 100%;
  }
}

.copyrights {

}

.legalLinks {

}

.legalLink {
  // typography
  color: rgb(var(--white));
  text-decoration: none;

  &:hover {
    // typography
    color: rgb(var(--green));
    text-decoration: underline;
  }
}
