.button {
  // box model
  padding: 0.5rem 1.5rem;

  // border
  border: 0.125rem solid rgb(var(--chineseWhite));
  border-radius: 1.75rem;

  // typography
  color: rgb(var(--chineseWhite));
  font-size: 0.875rem;

  // visual
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
