@import './mixins';


.header {
  // positioning
  position: relative;

  // box model
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  // height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  padding: 2.75rem 1rem;
  padding-right: 1.75rem;

  @include atTablet {
    // box model
    align-items: center;
    padding: 2.75rem 1.25rem;
  }
}

.header::after {
  content: "";

  // positioning
  position: absolute;
  top: 2rem;
  left: 6rem;
  z-index: -2;
  transform-origin: center center;
  transform: translate(-50%, -50%);

  // box model
  display: block;
  height: 75rem;
  width: 75rem;

  // visual
  background: radial-gradient(37.59% 37.59% at 50% 50%, rgba(255, 255, 255, 0.17) 0%, rgba(32, 32, 32, 0.00) 100%);
}

.nav {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.25rem;
  width: 100%;
}

.caption {
  @include atTablet {
    // box model
    width: 24rem;

    // typography
    text-align: center;
  }
}

.title {
  // box model
  margin: 0;
  margin-top: 6rem;

  // typography
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}

.title::before {
  content: "/";

  // typography
  color: rgba(var(--green));
}

.subtitle {
  // box model
  margin-top: 1.7rem;
  padding-left: 0.25rem;
  padding-right: 3.625rem;

  // typography
  font-size: 0.75rem;


  @include atTablet {
    // box model
    padding: 0 2rem;
  }
}

.back {
  // positioning
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  // box model
  height: 100vh;
}
