@import './mixins';


.header {
  // positioning
  position: relative;

  // box model
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh + 8rem);
  padding: 2.75rem 1rem;
  padding-right: 1.75rem;
  padding-bottom: 15rem;

  // visual
  overflow: hidden;

  @include atTablet {
    // box model
    align-items: center;
    padding: 2.75rem 1.25rem;
  }

  @include atDesktopS {
    // box model
    aspect-ratio: 2 / 1;
    width: 100%;
    height: auto;
    padding: 3.25rem 0;
    padding-bottom: 12rem;
  }
}

.header::after {
  content: "";

  // positioning
  position: absolute;
  top: 2rem;
  left: 6rem;
  z-index: -2;
  transform-origin: center center;
  transform: translate(-50%, -50%);

  // box model
  display: block;
  height: 75rem;
  width: 75rem;

  // visual
  background: radial-gradient(37.59% 37.59% at 50% 50%, rgba(255, 255, 255, 0.17) 0%, rgba(32, 32, 32, 0.00) 100%);
}

.nav {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.25rem;
  width: 100%;

  @include atDesktopS {
    // box model
    width: var(--dWidth);
    margin: 0 auto;
  }
}

.caption {
  @include atTablet {
    // box model
    padding-bottom: 18rem;
    width: 24rem;

    // typography
    text-align: center;
  }

  @include atDesktopS {
    // box model
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 9rem;
    padding-bottom: 0;
    width: var(--dWidth);

    // typography
    text-align: left;
  }
}

.title {
  // box model
  margin: 0;
  margin-top: 6rem;

  // typography
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;

  @include atDesktopS {
    // box model
    flex-basis: 43rem;
    flex-shrink: 0;

    // typography
    font-size: 8rem;
    line-height: 8rem;
  }
}

.title::before {
  content: "/";

  // typography
  color: rgba(var(--green));
}

.subtitle {
  // box model
  margin-top: 1.7rem;
  padding-left: 0.25rem;
  padding-right: 3.625rem;

  // typography
  font-family: var(--textFont);
  font-size: 0.75rem;

  @include atTablet {
    // box model
    padding: 0 2rem;
  }

  @include atDesktopS {
    // box model
    padding: 0;
    padding-bottom: 1rem;

    // typography
    font-size: 1rem;
  }
}

.back {
  // positioning
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  bottom: -0.125rem;
  z-index: -1;

}
