@import './mixins';


.iphone {
  @include atTablet {
    // positioning
    position: relative;

    // box model
    width: 19rem;
    padding: 0.75rem 0;

    // border
    border-radius: 3rem;
  
    // box model
    aspect-ratio: 404/832;
  
    // visual
    background-image: url('../assets/img/deco/iphone-bg.png');
    background-size: cover;
    overflow: clip;
  }
}

.screenWrapper {
  // box model
  height: 100%;

  // visual
  overflow: clip;
}

.screen {
  // box model
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.875rem;
  min-height: 25rem;

  // visual
  overflow: clip;

  @include atTablet {
    // box model
    min-height: auto;
    padding: 1.25rem;
    padding-top: 6rem;

    // visual
    transition: all 0.25s ease-in-out;
  }

  @include atDesktopS {
    // visual
    animation-name: fadeTop;
    animation-duration: 1s;
  }
}

.badge {
  // box model
  display: none;

  @include atTablet {
    // box model
    display: block;
    padding: 0.625rem 1.5rem;
  
    // border
    border-radius: 1.875rem;
  
    // typography
    color: rgb(var(--dark));
    font-size: 0.875rem;
    line-height: 1;
  
    // visual
    background-color: rgb(var(--green));
  }
}

.wrapper {
  // box model
  margin-top: 1rem;

  @include atTablet {
    // box model
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0;
    padding: 0.75rem;
    width: 100%;
  
    // border
    border-radius: 1.25rem;
  
    // typography
    color: rgb(var(--dark));
    
    // visual
    background-color: rgb(var(--white));
  }
}

.frame {
  @include atTablet {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  
    // visual
    background-image: url('../assets/img/deco/iphone.png');
    background-size: cover;
  }
}

@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translateY(30rem);
  }
  100% {
    opacity: 1;
  }
}
