@import './mixins';

.section {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;
}

.sprites {
  // box model
  display: none;
}

.header {

}

.content {
  // box model
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 2.25rem;
  margin-top: 4.5rem;


  @include atDesktopS {
    // box model
    column-gap: 6rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4.5rem;
    width: calc(var(--dWidth) - 2rem);
  }
}
