.section {
  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;
}

.sprites {
  // box model
  display: none;
}

.header {

}

.content {
  // box model
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 2.25rem;
  margin-top: 4.5rem;
}
