@import './mixins';


.slider {
  // positioning
  position: relative;
  display: flex;
}

.slide {
  // box model
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 100%;

  @include atTablet {
    // box model
    padding: 2.25rem 0;
    margin-top: 0;

    // typography
    text-align: center;
  }
}

.title {
  // typography
  color: rgb(var(--dark));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;
}

.text {
  // box model
  margin-top: 0.75rem;
  margin-bottom: 1rem;

  // typography
  color: rgb(var(--dark));
  font-size: 0.75rem;
}

.messageWrapper {
  // box model
  display: flex;
  justify-content: flex-end;
}
