@import './mixins';
 

.toggle {
  // box model
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1rem;

  @include atDesktopS {
    // typography
    font-size: 1.5rem;
  }
}

.title {
  // typography
  color: rgb(var(--chineseWhite));
  font-size: 0.875em;

  // visual
  transition: all 0.25s ease-out;
}

.label {
  // positioning
  position: relative;

  // box model
  display: flex;
  // height: 1.5em;
  width: 2.5em;
  padding: 2px;

  // border
  border: 0.125em solid rgb(var(--dark));
  border-radius: 0.875em;

  // visual
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.input {
  // box model
  display: none;
}

.slider {
  // box model
  display: inline-block;
  height: 1em;
  width: 1em;

  // border
  border-radius: 50%;

  // visual
  background-color: rgb(var(--chineseWhite));
  box-shadow: none;
  transition: all 0.25s ease-out;
}

.isChecked {
  .title {
    // typography
    color: rgb(var(--dark));
  }

  .label {
    // visual
    background-color: rgb(var(--green));
  }

  .slider {
    // positioning
    // transform: translateX(1.25em);
    transform: translateX(calc(1.25em - 3px));

    // visual
    background-color: rgb(var(--white));
    box-shadow: 0px 4px 12px 0px rgba(1, 0, 0, 0.15);
  }
}
