.toggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.title {
  // typography
  color: rgb(var(--chineseWhite));
  font-size: 0.875rem;
}

.label {
  // positioning
  position: relative;

  // box model
  display: block;
  height: 1.5rem;
  width: 2.75rem;

  // border
  border: 0.125rem solid rgb(var(--dark));
  border-radius: 0.875rem;

  // width: 3.5rem;
  // height: 1.875rem;
}

.input {
  // box model
  display: none;
}

.slider {
  // positioning
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;

  // box model
  height: 1rem;
  width: 1rem;

  // border
  border-radius: 50%;

  // visual
  background-color: rgb(var(--chineseWhite));
  transition: all 0.25s ease-out;
}

.isChecked {
  .title {
    // typography
    color: rgb(var(--dark));
  }
  .slider {
    // positioning
    left: 1.375rem;
    // right: 0.125rem;

    // visual
    background-color: rgb(var(--green));
  }
}
