@import './mixins';


.section {
  // box model
  padding: 0 1.25rem;

  // visual
  background-color: var(--dark);

  @include atDesktopS {
    // box model
    padding: 4.5rem 1.25rem;
  }
}

.content {
  @include atDesktopS {
    // box model
    margin: 0 auto;
    padding-right: 24rem;
    width: var(--dWidth);
  }

  h2 {
    // positioning
    position: relative;

    // box model
    margin-top: 2rem;
    margin-bottom: 1rem;

    // typography
    font-family: var(--titleFont);
    font-weight: 500;

    @include atDesktopS {
      // typography
      font-size: 2.25rem;
    }
  }

  h2::before {
    content: "/";

    // typography
    color: rgb(var(--green));

    @include atDesktopS {
      // positioning
      position: absolute;
      left: -0.625em;
    }
  }

  p, li {
    // box model
    margin-top: 1rem;
  
    // typography
    line-height: 1.5;

    // visual
    opacity: 0.75;

    b {
      // typography
      font-family: var(--titleFont);
      font-weight: 500;
    }

    a {
      // typography
      color: rgb(var(--green));
    }
  }
}
