@import './mixins';


.section {
  // positioning
  position: relative;

  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;
}

.section::before {
  content: "";

  // positioning
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform-origin: center center;
  transform: translate(-50%, -50% );

  // box model
  display: block;
  height: 100rem;
  width: 100rem;

  // visual
  background-image: radial-gradient(
    37.59% 37.59% at 50% 50%,
    rgb(var(--green), 0.625 ) 0%,
    rgb(var(--dark), 0) 100%
  );
}

.header {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4.5rem;

  // typography
  text-align: center;

  @include atTablet {
    // box model
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 4.5rem;
  }

  @include atDesktopS {
    // box model
    width: 42rem;
  }
}
