@import './mixins';


.card {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  padding: 0.625rem;
  padding-left: 1.25rem;

  // border
  border: 0.125rem solid rgb(var(--chineseWhite));
  border-radius: 1.5rem;

  // typography
  color: rgb(var(--dark));

  // visual
  background-color: rgb(var(--chineseWhite));

  @include atTablet {
    // box model
    align-items: stretch;
    flex-direction: column;
    flex-basis: calc(50% - 0.625rem);
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;
    padding: 1.5rem;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(20% - 0.75rem);
  }
}

.title {
  // typography
  font-size: 0.875rem;
}

.content {
  // box model
  display: none;

  @include atTablet {
    // box model
    display: block;
  }
}

.subtitle {
  // box model
  padding: 0.75rem 0;
  
  // typography
  font-size: 0.75rem;
}

ul.featureList {
  // box model
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 3rem;

  // typography
  font-size: 0.875rem;

  @include atTablet {
    // box model
    gap: 1.5rem;
  }

  @include atDesktopS {
    // box model
    flex-direction: column;
    gap: 0.5rem;
  }
}

.featureValue {
  // typography
  font-weight: 700;

  @include atDesktopS {
    // box model
    margin-right: 0.325em;
  }
}

.featureTitle {
  // box model
  display: block;

  @include atDesktopS {
    // box model
    display: inline-block;
  }
}

.price {
  // box model
  display: flex;
  flex-direction: column;
  padding-left: 0.626rem;
  flex-basis: 8rem;

  // border
  border-left: 0.0625rem dashed rgb(var(--dark));

  @include atTablet {
    // box model
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0;

    // border
    border-left: none;
    border-top: 0.0625rem dashed rgb(var(--dark));
  }

  @include atDesktopS {
    // box model
    margin-top: 0;
  }
}

.isOpen {
  // box model
  align-items: stretch;
  flex-direction: column;
  padding: 1.325rem;

  .content {
    // box model
    display: block;
  }

  .price {
    // box model
    // display: flex;
    // flex-direction: column;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0;
  
    // border
    border-left: none;
    border-top: 0.0625rem dashed rgb(var(--dark));
  }
}
