@import './mixins';


.section {
  // positioning
  position: relative;

  // box model
  margin-top: 9rem;
  padding: 0 1.25rem;

  @include atDesktopS {
    // box model
    margin-bottom: 6rem;
  }
}

.section::before {
  content: "";

  // positioning
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -3;
  transform-origin: center center;
  transform: translate(-50%, -50% );

  // box model
  display: block;
  height: 100rem;
  width: 100rem;

  // visual
  background-image: url('../assets/img/bgs/green-radial.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;

  @include atDesktopS {
    // box model
    height: 130rem;
    width: 130rem;
  }
}

.header {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;

  // typography
  text-align: center;

  @include atTablet {
    // box model
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  @include atDesktopS {
    // box model
    width: 42rem;
  }
}
