.button {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;

  // border
  border: none;

  // visual
  appearance: none;
  background-color: transparent;
  opacity: 0.5;
}

.icon {
  // box model
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.75rem;

  // border
  border-radius: 50%;

  // visual
  background-color: rgb(var(--white));
}

.icon svg {
  // visual
  fill: rgb(var(--chineseWhite));
}

.title {
  // box model
  margin-top: 0.5rem;

  // typography
  color: rgb(var(--white));
  font-size: 0.75rem;
  font-weight: 400;
  white-space: pre-line;
}

.isCurrent {
  // visual
  opacity: 1;

  .icon {
    // visual
    background-color: rgb(var(--dark));
  }

  .icon svg {
    // visual
    fill: rgb(var(--green));
  }
}
