@import './mixins';


.section {
  // box model
  padding: 1.25rem;

  // visual
  background-color: rgb(var(--dark));
  --initialOpacity: 1;
  animation: fadeIn linear forwards;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 30% cover 30%;

  @include atDesktopS {
    // box model
    padding: 9rem 0;
  }
}

.sprites {
  // box model
  display: none;
}

.header {
  // box model
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.75rem 0;

  // typography
  text-align: center;

  @include atTablet {
    // box model
    width: 20rem;
    margin: 0 auto;
  }

  @include atDesktopS {
    // box model
    width: 42rem;
    margin-top: 4.5rem;
  }
}

.content {
  // box model
  margin-top: 4.5rem;
  
  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr ;
  }

  @include atDesktopS {
    // box model
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    width: var(--dWidth);
    margin: 0 auto;
    margin-top: 4.5rem;
  }
}

@keyframes fadeIn {
  0% {
    // visual
    opacity: 0;
    transform: translateY(30rem);
  }
  100% {
    // visual
    opacity: 1;
    transform: translateY(0);
  }
}
