@import './mixins';

.section {
  // positioning
  position: relative;

  // box model
  padding: 9rem 0;

  // visual
  background-image: linear-gradient(
    to bottom,
    rgb(var(--dark)) 0,
    rgb(var(--green)) 42rem,
    rgb(var(--dark)) calc(100% - 16rem),
  );
}

.section::after {
  // content: "";

  // // positioning
  // position: absolute;
  // top: -50%;
  // left: -50%;
  // z-index: 1;

  // // box model
  // display: block;
  // width: 100rem;
  // height: 100rem;
  // border: 2px solid fuchsia;

  // // visual
  // background: radial-gradient(37.59% 37.59% at 50% 50%, #2FE82B 0%, rgba(32, 32, 32, 0.00) 100%);
}

.mobileNav {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  display: flex;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  padding: 1rem;

  @include atTablet {
    // box model
    width: 28rem;
    margin: 0 auto;
  }

  @include atDesktopS {
    // box model
    display: none;
  }
}

.content {
  // positioning
  position: relative;
  z-index: 2;

  // positioning
  position: relative;

  // box model
  margin-top: 0.25rem;
  padding: 2.5rem 1.25rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: rgb(var(--chineseWhite));
  // background-image: radial-gradient(
  //   685.06% 133.39% at 9.38% 2.12%,
  //   rgb(var(--chineseWhite)) 0%,
  //   rgb(var(--white)) 100%
  // );

  @include atTablet {
    // box model
    width: calc(100vw - 3rem);
    margin: 0 auto;
    max-height: 46rem;

    // visual
    background-color: rgb(var(--white));
  }

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding: 2.5rem;
    height: 36rem;
    width: var(--dWidth);

    // visual
    overflow: visible;
  }
}

.navigation {
  // box model
  display: none;

  @include atTablet {
    // positioning
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28rem;
    transform: translate(-50%, -50%);
    z-index: -1;

    // box model
    display: flex;
    justify-content: space-between;
  }
}

.button {
  // positioning
  position: relative;

  // box model
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;

  // border
  border: none;
  border-radius: 50%;

  // typography
  color: rgb(var(--white));
  font-size: 0;

  // visual
  appearance: none;
  background-color: rgb(var(--dark));
}

.button::after {
  content: "";

  // positioning
  position: absolute;
  transform: translate(-30%, 0);

  // border
  border: 0.5em solid transparent;
  border-right: 1em solid rgb(var(--white));

  // box model
  display: block;
  height: 1em;
  width: 2em;

  // typography
  font-size: 0.75rem;
}

.buttonRight {
  // positioning
  transform-origin: center center;
  transform: rotate(180deg);
}

.mobileSlider {
  @include atDesktopS {
    // box model
    display: none;
  }
}

.desktopSlider {
  display: none;

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.sliderContainer {
  // box model
  display: none;
  padding-top: 1.5rem;

}

.isCurrent {
  // box model
  display: block;
}

.phoneContainer {
  @include atTablet {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    justify-content: center;
  }

  @include atDesktopS {
    // positioning
    position: absolute;
    right: 11.25rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    // box model

  }
}
