@import './mixins';

.section {
  // positioning
  position: relative;

  // box model
  padding: 1rem 0;

  // visual
  overflow-x: clip;

  @include atTablet {
    // box model
    background-image: none;
    margin-bottom: 4.5rem;
  }

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 4rem);
    min-height: calc(100svh - 4rem);
    padding: 4.5rem 0;
  }
}

.section::after {
  content: "";

  // positioning
  position: absolute;
  top: 50%;
  left: 50%;
  top: 20rem;
  z-index: -1;
  transform: translate(-50%, -50%);

  // box model
  display: block;
  height: 60rem;
  width: 60rem;

  // visual
  // background: radial-gradient(37.59% 37.59% at 50% 50%, rgb(var(--green), 0.5) 0%, rgba(32, 32, 32, 0.00) 100%);
  background-image: url(../assets/img/bgs/green-radial.svg);
  background-size: contain;
  background-position: center center;


  @include atDesktopS {
    // positioning
    top: 40%;
    left: 65%;

    // box model
    height: 80rem;
    width: 80rem;

    // visual
    // background: radial-gradient(37.59% 37.59% at 50% 50%, rgb(var(--white), 0.25) 0%, rgb(var(--dark), 0.00) 100%);
    background-image: radial-gradient(
      37.59% 37.59% at 50% 50%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(32, 32, 32, 0.00) 100%
    );
  }
}

.mobileNav {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  display: flex;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  padding: 1rem;

  @include atTablet {
    // box model
    width: 28rem;
    margin: 0 auto;
  }

  @include atDesktopS {
    // box model
    display: none;
  }
}

.content {
  // positioning
  position: relative;
  z-index: 2;

  // positioning
  position: relative;

  // box model
  margin-top: 0.25rem;
  padding: 2.5rem 1.25rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: rgb(var(--chineseWhite));

  @include atTablet {
    // box model
    width: calc(100vw - 3rem);
    margin: 0 auto;
    max-height: 46rem;

    // visual
    background-color: rgb(var(--white));
  }

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding: 2.5rem;
    height: 36rem;
    width: var(--dWidth);
  }
}

.navigation {
  // box model
  display: none;

  @include atTablet {
    // positioning
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28rem;
    transform: translate(-50%, -50%);
    z-index: -1;

    // box model
    display: flex;
    justify-content: space-between;
  }
}

.button {
  // positioning
  position: relative;

  // box model
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;

  // border
  border: none;
  border-radius: 50%;

  // typography
  color: rgb(var(--white));
  font-size: 0;

  // visual
  appearance: none;
  background-color: rgb(var(--dark));
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button svg {
  // box model
  height: 1rem;
  width: 1rem;

  // visual
  fill: rgb(var(--white));
}

.button:hover {
  // visual
  background-color: rgb(var(--green));
}

.button:active {
  // visual
  opacity: 0.5;
}

.buttonLeft {
  // positioning
  transform-origin: center center;
  transform: rotate(180deg);
}

.mobileSlider {
  @include atDesktopS {
    // box model
    display: none;
  }
}

.desktopSlider {
  display: none;

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;

    // visual
    overflow: hidden;
  }
}

.productContainer {
  // box model
  margin-bottom: 1.5rem;
}

.sliderContainer {
  // box model
  max-height: 0;

  // visual
  opacity: 0;
  overflow: hidden;
  transition: all 0.45s linear;
}

.isCurrent {
  // box model
  display: block;
  margin-bottom: 0;
  margin-top: 1.5rem;
  max-height: 18rem;

  // visual
  opacity: 1;
  transition: all 0.5s linear, opacity 0.5s ease-in 0.125s;
}

.phoneContainer {
  @include atTablet {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    justify-content: center;
  }

  @include atDesktopS {
    // positioning
    position: absolute;
    right: 11.25rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
