@import './mixins';


.slider {
  // positioning
  position: relative;

  @include atDesktopS {
    // box model
    height: 100%;
  }
}

.navigation {
  // positioning
  position: relative;
  left: -10rem;
  z-index: 3;

  // typography
  color: rgb(var(--dark));
  font-size: 2rem;
}

.prev {
  // typography
  color: rgb(var(--dark));
}

.slider {
  :global .swiper-button-prev,
  :global .swiper-button-next {
    // box model
    display: none;
    height: 3rem;
    width: 3rem;

    // border
    border-radius: 50%;

    // visual
    background-color: rgb(var(--green));

  }

  :global .swiper-button-prev {
    // positioning
  }

  @include atDesktopS {
    :global .swiper-button-prev,
    :global .swiper-button-next {
      // box model
      display: block;
    }
  }
}

.pagination {
  // positioning
  // top: -0.25rem !important;
  // bottom: auto !important;

  @include atDesktopS {
    // positioning
    left: 0 !important;
    right: auto !important;
    width: auto !important;
  }

  span {
    // box model
    // display: inline-block;
    // height: 0.375rem !important;
    // width: 0.375rem !important;

    // typography
    font-size: 0;
    
    // visual
    background-color: rgb(var(--dark));
    opacity: 1;
  }
}

.bullet {
  // visual
}

.currentBullet {
  // visual
  background-color: rgb(var(--green)) !important;
  opacity: 1 !important;
}

.slide {
  // box model
  padding: 2.25rem 0;

  @include atTablet {
    // typography
    text-align: center;
  }

  @include atDesktopS {
    // box model
    height: calc(100% - 2.5rem);
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // typography
    text-align: left;
  }
}

.title {
  // typography
  color: rgb(var(--dark));
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 500;

  @include atDesktopS {
    // typography
    font-size: 2.25rem;
  }
}

.text {
  // box model
  margin-top: 0.75rem;

  // typography
  color: rgb(var(--dark));
  font-size: 0.75rem;

  @include atDesktopS {
    // box model
    margin-top: 1.5rem;

    // typography
    font-size: 0.875rem;
  }
}
