@import './mixins';


.pagination {
  // box model
  display: flex;
  justify-content: center;
  gap: 0.75rem;

  // typography
  font-size: 0;

  @include atDesktopS {
    // box model
    justify-content: flex-start;
    padding-left: 0.5rem;
  }
}

.bullet {
  // positioning
  transform-origin: center center;
  transform: scale(1);

  // box model
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;

  // border
  border-radius: 50%;

  // typography
  font-size: 0;

  // visual
  background-color: rgb(var(--dark));
  transition: all 0.25s ease-out;
}

.currentBullet {
  // positioning
  // transform: scale(1.25);

  // visual
  background-color: rgb(var(--green));
}
