@import './mixins';

.section {
  // box model
  margin-top: 9rem;

  @include atDesktopS {
    // box model
    // display: flex;
    // align-items: center;
    // height: 100vh;
  }
}

.nav {
  // box model
  display: flex;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  // grid-template-columns: repeat(5, 1fr);
}

.content {
  // positioning
  position: relative;

  // box model

  padding: 1.25rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: rgb(var(--white));
  background-image: radial-gradient(
    685.06% 133.39% at 9.38% 2.12%,
    rgb(var(--chineseWhite)) 0%,
    rgb(var(--white)) 100%
  );
  overflow: hidden;

  @include atTablet {
    // box model
    height: calc(100vh - 5rem);
    width: calc(100vw - 3rem);
    margin: 0 auto;
    max-height: 46rem;
  }

  @include atDesktopS {
    // box model
    padding: 2.5rem;
    max-height: 36rem;
    width: var(--dWidth);

    // visual
    overflow: visible;
  }
}


.phoneContainer {
  // box model
  margin: 0 -0.5rem;

  @include atTablet {
    // box model
    margin: 0 auto;
    width: 19rem;
  }

  @include atDesktopS {
    // positioning
    position: absolute;
    right: 11.25rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    // box model

  }
}
