.link {
  // box model
  display: inline-block;
  vertical-align: middle;
  height: 2.25rem;
  flex-grow: 0;
}

.icon {
  // box model
  height: 100%;

  // visual
  fill: rgb(var(--white));
  transition: all 0.25s ease-out;
}

.link:hover {
  // visual
  .icon {
    // visual
    fill: rgb(var(--green));
  }
}

